@page "/"

<PageTitle>Home</PageTitle>


<div style="text-align:center;">
<h1>🌱 EcoMonitor</h1>
<p class="subtitulo">
    Transformando pequenas ações em grande impacto ambiental.
</p>

</div>

<div style="text-align:center;">

    <EcoStatus Titulo="♻️ Reciclagem de Plástico" Peso="1" />

    <EcoStatus Titulo="🌳 Plantio de Árvores" Peso="10" />

    <EcoStatus Titulo="Descarte de Eletrônicos 💻" Peso="5" />

</div>